* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url(assets/bgdark-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 712px;
  border: 2px solid white;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}